html {
  height: 100%;
}
body {
  min-height: 100%;
  overflow: hidden;
  color: $primary;
}

::-webkit-scrollbar { display: none; }

#app-main {
  height: 100vh;
  background: #000;
}

#map {
  position: absolute;
  width: 65vw;
  height: 100vh;
  top: 0;
  left: 0;
  transition: transform 1s;

  .saver & {
    transform: translateX(-65vw);
  }
}

#panel {
  background: $primary-bg;
  position: absolute;
  width: 35vw;
  height: 100vh;
  top: 0;
  right: 0;
  overflow: hidden;
  transition: transform 1s;

  .saver & {
    transform: translateX(35vw);
  }
  
  .frame {
    position: absolute;
    width: calc(35vw - 40px);
    height: calc(100vh - 40px);
    margin: 20px;
    border: 2px solid $primary;
  }

  .panel-inside-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 29vw;
    margin: 3vw;
  }

  .panel-inside-content {
    position: absolute;
    top: 8vw;
    left: 0;
    width: 100%;
  }

  .main-tabs {
    @extend %font-cinzel;
    font-size: 36px;
    line-height: 1em;
  }

}

%font-cinzel {
  font-family: 'Cinzel';
  font-weight: 900;
}

.fade-enter-active {
  transition: all 1s 0.5s;
}

.fade-leave-active {
  transition: all 0.5s;
}
.fade-enter {
  //transform: translateX(30px);
  opacity: 0;
}

.fade-leave-to {
  //transform: translateX(-30px);
  opacity: 0;
}


.lista-projetos,
.lista-ucs {

  -webkit-column-count: 2;
  -webkit-column-gap: 3em;
  -webkit-column-rule: 1px solid $primary;

  article {
    @extend %font-cinzel;
    font-size: 18px;
    padding: 20px 0;
  }

}

.single-projeto {

  .title {
    @extend %font-cinzel;
    font-size: 52px;
    line-height: 1em;
  }

}