
%font-cinzel {
  font-family: 'Cinzel Black';
  font-weight: 900;
}

%font-josefin {
  font-family: 'Josefin Sans';
  font-weight: 400;
}

%font-josefin-sb {
  font-family: 'Josefin Sans';
  font-weight: 700;
}

.font-display {
  @extend %font-cinzel;
}

* {
  user-select: none;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  overflow: hidden;
  color: $primary;
}

::-webkit-scrollbar { display: none; }

#app-main {
  height: 100vh;
  background: #000;
}

#map {
  position: absolute;
  width: calc(100vw - 680px);
  height: 100vh;
  top: 0;
  left: 0;
  transition: transform 1s;
  z-index: 100;

  .saver &,
  .galeria & {
    transform: translateX(calc(680px - 100vw));
  }
}

#panel {
  background: $primary-bg;
  position: absolute;
  width: 680px;
  height: 100vh;
  top: 0;
  right: 0;
  overflow: hidden;
  transition: transform 1s;
  z-index: 100;

  .saver & {
    transform: translateX(680px);
  }
  
  .frame {
    position: absolute;
    width: 640px;
    height: calc(100vh - 40px);
    margin: 20px;
    border: 2px solid $primary;
  }

  .panel-inside-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 580px;
    margin: 60px 50px 0;
  }

  .panel-inside-content {
    position: absolute;
    top: 8vw;
    left: 0;
    width: 100%;
  }

  .main-tabs {
    @extend %font-cinzel;
    font-size: 36px;
    line-height: 1em;
  }

}

.fade-enter-active {
  transition: all 1s 0.5s;
}

.fade-leave-active {
  transition: all 0.5s;
}
.fade-enter {
  //transform: translateX(30px);
  opacity: 0;
}

.fade-leave-to {
  //transform: translateX(-30px);
  opacity: 0;
}

.sobre-ucs {
  width: 75%;
  margin: 0 auto;
  padding-bottom: 30px;
  margin-bottom: 30px;
  //border-bottom: 2px solid #ceb1ab;
}

.lista-projetos,
.lista-ucs {

  -webkit-column-count: 2;
  -webkit-column-gap: 3em;
  -webkit-column-rule: 1px solid #ceb1ab;

  article {
    @extend %font-cinzel;
    font-size: 18px;
    padding: 18px 0;
  }

}

.single-projeto {

  .title {
    @extend %font-cinzel;
    font-size: 56px;
    line-height: 0.85em;
  }

  .desde {
    margin-top: 10px;
    font-style: italic;
    font-weight: 700;
  }
  

  .marca {
    
    min-width: 160px;

    img {
      max-height: 120px;
      width: auto;
    }
  }

  .single-projeto-marcas {

    margin-left: 10px;

    .tab {
      & > p {
        color: #000;
        font-size: 10px;
        text-transform: uppercase;
        opacity: 0.3;
        margin-bottom: 10px;
      }
      img {
        max-height: 56px;
        width: auto;
        margin-right: 12px;
        &:last-child {
          margin-right: 0;
        }
      }
    }

    &.is-uc {
      img {
        height: auto;
        max-width: 80%;
        max-height: none;
      }
    }
  }

  .single-projeto-content {
    height: 400px;
    margin: 10px 0 80px;
    &.is-uc {
      height: 540px;
    }
  }
  
  .content-main {
    line-height: 1.5em;
    //text-align: right;
    position: relative;
  }

  .content-main-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 40px 0 20px;
  }

  .content-nav {
   
    border-left: 2px solid #cfb3af;
    padding-left: 30px;

    li {
      padding-bottom: 30px;
      @extend %font-cinzel;
      font-size: 18px;
    }

    .back-button {
      img {
        width: 92px;
      }
      span {
        font-style: italic;
        font-weight: 700;
      }
    }

  }

  .single-projeto-vis-selector {
    padding: 0 120px;
  }

  .vis-opt {
    transition: transform 0.6s ease;
    transform: scale(0.7);
  }

  .vis-area {
    #app-main.area & {
      transform: scale(1);
    }
  }

  .vis-galeria {
    #app-main.galeria & {
      transform: scale(1);
    }
  }

  .vis-area-label {
    opacity: 0.5;
    transition: opacity 0.6s;
    #app-main.area & {
      opacity: 1;
    }
  }

  .vis-galeria-label {
    opacity: 0.5;
    transition: opacity 0.6s;
    #app-main.galeria & {
      opacity: 1;
    }
  }

}

// fancy lines on both sides

.fancy {
  line-height: 0.5;
  text-align: center;
}
.fancy span {
  display: inline-block;
  position: relative;  
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-top: 2px solid $primary;;
  top: 3px;
  width: 60px;
}
.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy span:after {
  left: 100%;
  margin-left: 15px;
}


// galeria

.galeria-wrapper {
  position: absolute;
  width: calc(100vw - 680px);
  height: 100vh;
  top: 0;
  left: 0;

  .saver & {
    width: 100vw;
  }
  
  .pswp {
    z-index: 100;
  }

  .pswp__caption__center {
    text-align: center;
    max-width: 100%;
  }
  
  .pswp__button--arrow--left {
    left: 20px;
    transform: scale(2);
  }
  .pswp__button--arrow--right {
    right: 20px;
    transform: scale(2);
  }

}


