@import "../../node_modules/bulma/sass/utilities/_all";
@import "../../node_modules/bulma/sass/base/_all";
@import "../../node_modules/bulma/sass/grid/columns";


$primary-bg: #e7d3cf;
$primary-color: #150c8b;


@import "map";


html {
  height: 100%;
}
body {
  min-height: 100%;
  overflow: hidden;
  color: $primary-color;
}

::-webkit-scrollbar { display: none; }

#map {
  position: absolute;
  width: 65vw;
  height: 100vh;
  top: 0;
  left: 0;
}

#panel {
  background: $primary-bg;
  position: absolute;
  width: 35vw;
  height: 100vh;
  top: 0;
  right: 0;
  overflow: hidden;
  
  .frame {
    position: absolute;
    width: calc(35vw - 40px);
    height: calc(100vh - 40px);
    margin: 20px;
    border: 2px solid rgba(0,0,0,0.1);
  }

  .panel-inside-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 27vw;
    height: 92vh;
    margin: 4vw;
  }

  .panel-inside-content {
    position: absolute;
    top: 5vw;
    left: 0;
    width: 100%;
  }

}

%font-cinzel {
  font-family: 'Cinzel';
  font-weight: 700;
}

.fade-enter-active {
  transition: all 1s 0.5s;
}

.fade-leave-active {
  transition: all 0.5s;
}
.fade-enter {
  //transform: translateX(30px);
  opacity: 0;
}

.fade-leave-to {
  //transform: translateX(-30px);
  opacity: 0;
}


.lista-projetos {

  article {
    @extend %font-cinzel;
    font-size: 20px;
    padding: 30px 0;
  }

}

.lista-ucs {

  article {
    @extend %font-cinzel;
    font-size: 20px;
    padding: 30px 0;
  }

}


