@font-face {
  font-family: 'Cinzel';
  src: url('Cinzel-Bold.eot'); /* IE9 Compat Modes */
  src: url('Cinzel-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Cinzel-Bold.woff') format('woff'), /* Modern Browsers */
       url('Cinzel-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Cinzel-Bold.svg#0095834fb59f135d5dbede9fe1369e4d') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

